<div class="col-xs-12">
    <div class="about page">
        <div class="col-xs-12">
        	<h1 class="hide">Eric Ethington</h1>
            <h2>About Eric Ethington</h2>
        </div>
        <div>
            <div class="description col-xs-12 col-sm-7">
	            <p>I graduated in Computer Science from Brigham Young University in April 2013. I have been working as a Front-end Web developer ever since. While in college I had an internship for a year where I got my taste for web development and loved it!  That's when I decided I would web development would be my career.</p>
	            <p>My focus is building Javascript heavy websites.  I have a lot of experience with AngularJS.  I have also used Knockout, Angular 2 and plain ol' Javascript.  In conjunction with Javascript I use Node.js, LESS, Bootstrap, Gulp, Bower, jQuery, Socket.io, Grunt, Git, Mercurial, Gimp 2, Wordpress, SQL database, Yeoman and PHP.</p>
	            <p>Learning new technologies is not a problem for me.  A great app can be built in just about anything.  The current hot technology takes a back seat to a healthy development process with good communication, testing and code reviews.</p>
	            <p>I refrain from becoming emotionally attached to my code.  They are just dumb bits that need improvement.  Typically while working I will make my first attempt at something and share it with others.  Together we will discuss if it is perfect or needs improvement.  A team player is someone that puts code quality above personal recognition.</p>
	            <p>Some of the my other interests include learning French, working out, gardening, learning guitar and studying Psychology.</p>
	            <p>The purpose of ericethington.com is to show off my coding projects.</p>
	            <p>Please enjoy browsing through my website and my <a href="/projects">projects</a>.</p>
	        </div>
	        <div class="profile-picture col-xs-12 col-sm-offset-1 col-sm-4"><img src="img/profile.jpg" alt="Eric Ethington"></div>
        </div>
    </div>
</div>
