<div class="col-xs-12">
    <div class="about page">
        <div class="col-xs-12">
        	<h1 class="hide">Eric Ethington</h1>
            <h2>About Eric Ethington</h2>
        </div>
        <div>
            <div class="description col-xs-12 col-sm-7">
	            <p>I graduated in Computer Science from Brigham Young University in April 2013. I have been working as a Front-end Web developer ever since. While in college I had an internship for a year where I got my taste for web development and decided that was the career I wanted.</p>
	            <p>I also have a strong interest in Psychology. I graduated with a minor simply because I like it. I read psychology books often and I am fascinated with how people work.</p>
	            <p>I have a smart and beautiful wife that I love very much. We are best friends. We love spending time with each other and sharing our big ideas with each other.</p>
	            <p>Ericethington.com consists of two parts. First, it is a place for me to show off my personal projects. Second, it helps people get to know me better.</p>
	            <p>Please enjoy browsing through my website and my projects.</p>
	        </div>
	        <div class="profile-picture col-xs-12 col-sm-offset-1 col-sm-4"><img src="img/profile.jpg" alt="Eric Ethington"></div>
        </div>
    </div>
</div>
