<div class="col-xs-12">
    <div class="space-shooter page">
        <div class="col-xs-12">
            <h2>Angular Assignment</h2>
        </div>
        <div>
        	<div class="col-xs-12 col-lg-4">
        		<div>
        			<h3>Technologies used</h3>
        			<p><a href="https://angularjs.org" target="_blank">AngularJS</a>, <a href="https://github.com/angular-ui/ui-router" target="_blank">UI-router</a>, <a href="http://lesscss.org/" target="_blank">LESS</a>, <a href="http://gulpjs.com/" target="_blank">Gulp</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="http://underscorejs.org/" target="_blank">Underscore</a> </p>
        		</div>
        		<h3>Description</h3>
        		<p class="long-description"><include href="{{ @angular_assignment_long_description }}" /></p>

        		<div class="col-xs-12">
	           	<h3>Github repo</h3>
	        		<p><a target="_blank" href="https://github.com/erceth/petrocloud">Angular Assignment</a></p>
	        	</div>
	        	<div class="col-xs-12">
	           		<h3>Live Demo</h3>
	           		<a target="_blank" href="http://angular-assignment.ericethington.com">http://angular-assignment.ericethington.com</a>
	           	</div>
	        </div>
	        <div class="col-xs-7 col-lg-6 col-lg-offset-1 screenshot">
	        	<h3>Screenshot</h3>
	        	<img width="100%" src="img/angular_assignment.png" alt="screenshot of angular assignment project">
           	</div>

        </div>
    </div>
</div>
