<div class="col-xs-12">
    <div class="contact page">
        <div class="col-xs-12">
            <h2>Contact</h2>
        </div>
        <div class="col-xs-12 col-md-6">
        	<p>Ask me a question, compliment my website or make me an offer.</p>
        	<form action="/contact" method="post">
				<textarea class="form-control" rows="7" name="message"></textarea>
				<br>
				<input type="submit" name="submit">
			</form>
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5 social-media">
            <h3>Find me on social media</h3>
            <include href="{{ @social_media_links }}" />
            
        </div>
    </div>
</div>
