		</div><!-- end of of mid -->
        <footer class="footer col-xs-12" ng-hide="hideFooterHeader()">
        	<div class="footer-container">
        		<div class="col-xs-6 text">
        			<span>All coding and design done by Eric Ethington</span>
        		</div>
        		<div class="col-xs-6 social-media">
					<a href="https://www.linkedin.com/pub/eric-ethington/46/129/593" target="_blank" class="social-logo"><img src="img/linkedin.png"></a>
					<a href="https://twitter.com/erceth" target="_blank" class="social-logo"><img src="img/twitter.png"></a>
					<a href="https://www.facebook.com/Eth86" target="_blank" class="social-logo"><img src="img/facebook.jpg"></a>
	        	</div>
        	</div>
        	
        </footer>
    </div>

</body>

</html>
