<div class="col-xs-12">
    <div class="jsflags page">
        <div class="col-xs-12">
            <h2>JSFlags</h2>
        </div>
        <div>
        	<div class="col-xs-12">
        		<div>
        			<h3>Technologies used:</h3>
        			<p>Node.js, Javascript, Express, Socket.io, HTML5 canvas</p>
        		</div>
        		<h3>Description</h3>
	            <p class="long-description"><include href="{{ @jsflags_long_description }}" /></p>
	        </div>
	        <div class="col-xs-12">
	        	<a target="_blank" href="http://jsflags.ericethington.com"><h3>Live Demo</h3></a>
            	<iframe id="jsflagiframe" src="http://jsflags.ericethington.com" width="704" height="704"></iframe>
           	</div>
           	<div class="col-xs-12">
           		<h3>Github repos:</h3>
        		<p><a target="_blank" href="https://github.com/erceth/jsflags">JSFlags</a></p>
            	<p><a target="_blank" href="https://github.com/erceth/jsflags-ai">JSFlags-ai</a></p>
            	<h3>Explaination of Potential Fields</h3>
            	<iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/omqTgNCXfbQ?rel=0" frameborder="0" allowfullscreen></iframe>
           	</div>
        </div>
    </div>
</div>