<div class="col-xs-12">
    <div class="projects page">
        <div class="col-xs-12">
            <h2>Projects</h2>
        </div>
        <div class="all-projects col-xs-12">

            <div class="project col-xs-12 col-sm-6 col-md-4 col-lg-3">
            	<a href="/web-crawler">
	            	<div class="project-wrapper">
		            	<img class="project-img" src="../img/webcrawler_screenshot.png" alt="screenshot of webcralwer project">
		            	<div class="blurb">
		            		<div class="title"><h3>Web Crawler</h3></div>
		            		<p class="short-description"><include href="{{ @web_crawler_short_description }}" /><p>
		                    <p class="medium-description"><include href="{{ @web_crawler_medium_description }}" /></p>
		                </div>
		            </div>
		        </a>
            </div>


            <div class="project col-xs-12 col-sm-6 col-md-4 col-lg-3">
            	<a href="/jsflags">
	            	<div class="project-wrapper">
		            	<img class="project-img" src="../img/tanks2.png" alt="screenshot of tanks project">
		            	<div class="blurb">
		            		<div class="title"><h3>JSFlags</h3></div>
		                    <p class="short-description"><include href="{{ @jsflags_short_description }}" /></p>
		                    <p class="medium-description"><include href="{{ @jsflags_medium_description }}" /></p>
		                </div>
		            </div>
		        </a>
            </div>


            <div class="project col-xs-12 col-sm-6 col-md-4 col-lg-3">
            	<a href="/sms-tracker">
	            	<div class="project-wrapper">
		            	<img class="project-img" src="../img/google-sheets.png" alt="screenshot of google sheets project">
		            	<div class="blurb">
		            		<div class="title"><h3>SMS Attendance</h3></div>
		            		<p class="short-description"><include href="{{ @sms_tracker_short_description }}" /></p>
		                    <p class="medium-description"><include href="{{ @sms_tracker_medium_description }}" /></p>
		                </div>

		                
		            </div>
		        </a>
            </div>

            <div class="project col-xs-12 col-sm-6 col-md-4 col-lg-3">
            	<a href="/freedom-festival">
	            	<div class="project-wrapper">
		            	<img class="project-img" src="../img/provo_freedom_festival.png" alt="screenshot of provo freedome festival website">
		            	<div class="blurb">
		            		<div class="title"><h3>Freedom Festival</h3></div>
		            		<p class="short-description"><include href="{{ @freedom_festival_short_description }}" /></p>
		                    <p class="medium-description"><include href="{{ @freedom_festival_medium_description }}" /></p>
		                </div>

		                
		            </div>
		        </a>
            </div>

            <div class="project col-xs-12 col-sm-6 col-md-4 col-lg-3">
            	<a href="/filer">
	            	<div class="project-wrapper">
		            	<img class="project-img" src="../img/filer_admin1.png" alt="screenshot of filer project">
		            	<div class="blurb">
		            		<div class="title"><h3>Filer</h3></div>
		            		<p class="short-description"><include href="{{ @filer_short_description }}" /></p>
		                    <p class="medium-description"><include href="{{ @filer_medium_description }}" /></p>
		                </div>

		                
		            </div>
		        </a>
            </div>


        </div>
    </div>
</div>